.page {
  height: 100vh;
  display: grid;
  place-items: center;

  .container {
    width: 576px;

    .logo {
      text-align: center;
      margin-bottom: 50px;
    }

    .form {
      display: flex;
      flex-flow: column;
      width: 100%;
      max-width: 578px;

      .control {
        margin-bottom: 20px;
      }

      .group {
        display: flex;
        justify-content: space-between;
        margin-top: 2px;
      }

      .buttonGroup {
        margin: 2rem 0;
      }
    }
  }
}
