@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./reset.css);

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient {
    background: linear-gradient(91.17deg, #5097fa 0%, #5363ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* @import url("./reset.css"); */
